<section>
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Events database and ticket sale</h2>
    <hr class="star-dark mb-5">

    <div class="row">
      <div class="col-md-6">
        <a class="portfolio-item d-block mx-auto square-link rounded"
           href="/events">
          <div class="square-link_element h-100 d-flex justify-content-center align-items-center">
            <h2>EVENTS</h2>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="portfolio-item d-block mx-auto square-link rounded"
           href="/tickets">
          <div class="square-link_element h-100 d-flex justify-content-center align-items-center">
            <h2>TICKETS</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
